.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #394d5f;
  padding: 16px 40px;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-bar input {
  width: 300px;
  padding: 7px;
  border: 2px solid #ccc;
  border-radius: 9px;
}

.auth-buttons button {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.auth-buttons button:hover {
  background-color: white;
  color: #333;
}