

.slider {
  display: flex;
  /* overflow: hidden; */
  width: 100%;
  transition: transform 0.5s ease-in-out;
  height: 50vh;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  height: auto;
}

.active {
  transform: translateX(-100%);
}
